<div class="d-flex flex-column align-items-center justify-content-center">
  <h1>Welcome to Recipe App</h1>
  <p>Sign in to Create Recipes or Explore recipes created by others by clicking on "Public Recipes"</p>
<div>


